# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# PyCharm / JetBrains
.idea/
*.iml

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Datos pesados (opcional, descomenta si aplica)
# *.csv
# *.parquet
# data/

# Secretos (¡crítico!)
.env
*.env
secrets.json
credentials.json